In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/friends - Sheet1.csv')
print(df)

In [ ]:
# Q1. There is an invalid value coded as "xx" in the height(cm) column. convert invalid values to "NaN
df['height(cm)'] = df['height(cm)'].replace('xx', pd.NA)
print(df)

In [ ]:
#split the 'age_sex' column into two separate columns.
df[['age', 'sex']] = df['age_sex'].str.split('_', expand=True)
df.drop(columns=['age_sex'], inplace=True)

print(df)

In [ ]:
#Reorder the column labels
df = df[['fname', 'lname', 'age', 'sex', 'section', 'height(cm)', 'weight(kg)', 'spend_A', 'spend_B', 'spend_C']]

print(df)